.navbar {
    height: 52px;
    background: #473d3d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 18px;
}

.profile {
    width: 240px;
    background: #343b39;
    margin: auto 0;
    text-align: center;
    padding: 5px;
}

.profile-close {
    width: 32px;
    border-radius: 15px;
    background: #5b756e;
}

.profile>* {
    background: #343b39;
    height: 32px;
    width: 70%;
    margin: 12px auto;
    padding: 2px 0;
    display: block;
}

.auth-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background: #ddb6b608;
    width: 480px;
    margin: auto;
    text-align: center;
    padding: 18px;
}

.form-container h2 {
    padding: 8px;
}

.form-container input,
.form-container button {
    height: 40px;
    color: #ffffff;
    background: #000000;
    border: 1px solid #ffffff;
    outline: none;
    width: 64px;
    margin: 12px 8px;
}

.form-container input {
    width: 320px;
    display: block;
    padding: 3px;
    margin: 15px auto;
}

.form-container input::placeholder {
    color: #ffffff;
}

.form-container input:focus {
    width: 330px;
}

.form-container button:hover,
.form-container button:active {
    color: #000000;
    background: #ffffff;
}

.url-shortener-box {
    height: 180px;
    width: 720px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #473d3d;
    margin: 12px auto;
}

.url-shortener-box input,
.url-shortener-box button {
    height: 42px;
    width: 72px;
    font-size: 0.9rem;
    color: #ffffff;
    background: #000000;
    border: 1px solid #ffffff;
    outline: none;
    margin: 12px 8px;
}

.url-shortener-box input {
    width: 480px;
    height: 42px;
}

.url-shortener-box inputshort {
    width: 360px;
}

.url-shortener-box button:hover,
.url-shortener-box button:active {
    color: #000000;
    background: #ffffff;
}
